extends ../layouts/app.pug
block append headpage
	title Ongaku forbidden access
block append library
	include ../api/middleware/403
block append songlist
	section.song-list
		include ../layouts/playlist
