extends ../layouts/app
block append headpage
  title Ongaku authentication
block append library
  .col-md-8.panel.panel-default.col-md-offset-1.login-screen
    h1 Access forbidden:
    hr
    h2 Unsufisent privileges
