extends ../layouts/app.pug
block append headpage
  title Ongaku register
block append library
  include ../api/middleware/disabled
block append songlist
  section.song-list
    include ../layouts/playlist
