section.sidebar.show
	h1(style="margin: 0px;") Library
	.search
		.col-lg-8.col-md-8
			.input-group
				span.input-group-addon
					i.glyphicon.glyphicon-search
				input.searchbox.form-control(type="text", placeholder="Search", style="height:39px", data-type="audio")
		.col-lg-4
			button.btn.btn-default.dropdown-toggle(style="height:39px", type="button", data-toggle="dropdown" aria-expanded="false") Group by
				span.caret(style="margin-left: 5px;")
			ul.dropdown-menu(role="menu", style="margin-left: 15px;")
				li
					a Songs
					a Artists
					a Albums
					a Genre
			a.btn.btn-default.downloader(href="#", style="margin-left: 5px; display: none; height:39px; padding-top: 8px;") search result
				i.glyphicon.glyphicon-download(style="padding-left: 5px;")
					
	if (data.message !== null)
		h1.message
			i.fa.fa-circle-o-notch.fa-spin
			span.text= data.message
	.user-sidebar.library-view
		.library
			ul.lib.group.artist.open

script.
	$(function(){
		$('.pending-list.wfull').removeClass("wfull");
	});
