ul {
	list-style: none outside none;
	padding: 0;
}

main{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 150px;
}

nav .menu{
	color: white;
	position: fixed;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 150px;
	padding: 21px 25px;
	background-color: #030303;
	z-index: 2;
	box-sizing: border-box;
}

section.song-list > .list-container {
	position: absolute;
	left: 505px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	padding: 10px;
	background-color: #F3F3F3;
}

section.song-list > .list-container .scroller {
	overflow-y: auto;
	height: 100%;
	padding: 25px;
	box-sizing: border-box;
}

section.song-list .list-actions {
	margin-bottom: 10px;
	position: absolute;
	right: 0px;
	padding: 10px;
}

section.song-list  .list-actions {
	margin-bottom: 25px;
	overflow: hidden;
}

section.sidebar.show {
    z-index: 2;
    width: 30%;
    position: fixed;
    left: 165px;
    top: 15px;
}

section.sidebar .user-sidebar{

}

span.button{
	background-color: black;
	color: white;
	border-radius: 2px;
	font-size: 10pt;
	padding: 5px;
	margin-left: 3px;
	cursor: pointer;
	transition: background-color 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
}

span.button:hover{
	background-color: #DCDCDC;
	color: black;
}

section.song-list > .list-container .infos{
	position: absolute;
	font-size: 15pt;
}

section.song-list > .list-container .infos>.artist{
	font-weight: bold;
}

section.song-list > .list-container .infos>.album>img{
	width: 100%;
	margin-right: 10px;
}

section.song-list > .list-container .infos>.album>.title{
	font-style: oblique;
}

section.song-list > .list-container{
	min-width: 450px;
	overflow: auto;
}

section.song-list > .list-container .songs-container{
	margin: 20px;
	position: absolute;
	top: 50px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

section.song-list > .list-container .songs-container ul li{
	margin-bottom: 2px;
}

section.song-list > .list-container .songs-container .song{
	margin-bottom: 2px;
	background-color: white;
	border-radius: 3px;
	cursor: pointer;
	width: 100%;
	white-space: nowrap;
}

section.song-list > .list-container .songs-container .song:hover{
	color: #33B;
}

section.song-list > .list-container .songs-container .song .track-info{
	display: inline-block;
}

section.song-list > .list-container .songs-container .song .track-info.track-px{
	width: 100%;
}

section.song-list > .list-container .songs-container .song .track-num{
	width: 56px;
	text-align: right;
	margin-left: 16px;
}

section.song-list > .list-container .songs-container .song:hover .track-num:before{
	content: '\f04b';
	font-family: "FontAwesome";
	left: -16px;
	position: relative;
}

section.song-list > .list-container .songs-container .song .track-num:after{
	content: '\f001';
	margin-left: 3px;
	margin-right: 3px;
	font-family: "FontAwesome";
}

section.song-list > .list-container .songs-container .song .track-info.track{
	position: absolute;
	left: 115px;
	right: 63px;
}

section.song-list > .list-container .songs-container .song .track-artist{
	width: 40%;
}

section.song-list > .list-container .songs-container .song .track-title{
	width: 60%;
}

section.song-list > .list-container .songs-container .song .track-time{
	width: 60px;
	padding-left: 15px;
	position: absolute;
	right: 0px;
}

.player{
	position: fixed;
	bottom: 0;
	/*height: 30px;*/
	left: 0;
	right: 0;
	width: 100%;
	z-index: 1000;
}

.pending-list{
	margin-bottom: 3px;
	height: 60px;
	background-color: rgba(0, 0, 0, 0.6);
	text-align: center;
	color: white;
}

.pending-list .song{
	/*max-width: 40px;*/
	margin: 3px;
	border: 1px solid white;
}