section.sidebar.show
  .search
    .col-lg-8.col-md-8
      .input-group
        h1 Error
  .user-sidebar.library-view
    .col-md-8.panel.panel-default.col-md-offset-1.login-screen
      h1 Internal server error:
      hr
      h2 An error had thrown from server side
      if err
        div #{err}
