section.sidebar.show
  .search
    .col-lg-8.col-md-8
      .input-group
        h1 Register
  .col-md-12.panel.panel-default.col-md-offset-1.login-screen
    h2 Remaining user registeration count #{registerLeft}
    form.form-horizontal(method='post')
      .form-group
        label.col-md-4.control-label Username
        .col-md-6
          input.form-control(type="text", name="username")
      .form-group
        label.col-md-4.control-label Password
        .col-md-6
          input.form-control(type="password", name="password")
      .form-group
        label.col-md-4.control-label Confirm password
        .col-md-6
          input.form-control(type="password", name="password-confirm")
      .form-group
        label.col-md-4.control-label email
        .col-md-6
          input.form-control(type="email", name="email")
      .form-group
        label.col-md-4.control-label= i18n.language
        .col-md-6
          select.form-control(name="lang")
            for language in languages
              option(value="#{language}")= i18n.i18n_languages[language]
      button.btn.btn-success.btn-lg.pull-right(id="login", style="margin-bottom: 15px;", type="submit") Register
