[Unit]
Description=Ongaku Service

[Service]
User=pi
Restart=always
RestartSec=10
standardOutput=syslog
StandardError=syslog
ExecStart=/usr/bin/node /opt/ongaku/startup.js


[Install]
WantedBy=multi-user.target
