html
	head 
		title Library
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
		link(rel="stylesheet", type="text/css", href="/font-awesome-4.2.0/css/font-awesome.min.css")
		link(rel="stylesheet", type="text/css", href="/mediaelement/mediaelementplayer.min.css")
		link(rel="stylesheet", type="text/css", href="/bootstrap/css/bootstrap.min.css")
		link(rel="stylesheet", type="text/css", href="/bootstrap/css/bootstrap-combined.min.css")
		link(rel="stylesheet", type="text/css", href="/fancytree-2.6.0/skin-bootstrap/ui.fancytree.min.css")
		link(rel="stylesheet", type="text/css", href="/fancytree-2.6.0/skin-win8/ui.fancytree.min.css")
		link(rel="stylesheet", type="text/css", href="/alertifyjs-0.10.2/css/alertify.min.css")
		link(rel="stylesheet", type="text/css", href="/alertifyjs-0.10.2/css/themes/default.min.css")
		link(rel="stylesheet", type="text/css", href="/jScrollPane/jquery.jscrollpane.css")
		link(rel="stylesheet", type="text/css", href="/css/main.css")
		
		script(src="/jquery/jquery-2.1.1.min.js")
		script(src="/jquery-ui-1.11.2/jquery-ui.min.js")
		script(src="/mediaelement/mediaelement-and-player.js")
		script(src="/bootstrap/js/bootstrap.js")
		script(src="/fancytree-2.6.0/jquery.fancytree-all.min.js")
		script(src="/jquery-mousewheel-3.1.12/jquery.mousewheel.min.js")
		script(src="/alertifyjs-0.10.2/alertify.min.js")
		script(src="/jScrollPane/jquery.jscrollpane.min.js")
		script(src="/lib/app.js")
		
	body
		nav.menu
			.menu.menu-discover
				ul
					li
						a
							i.glyphicon.glyphicon-star
							span Featured
					li
						a 
							i.glyphicon.glyphicon-music
							span Music
					li
						a 
							i.glyphicon.glyphicon-search
							span Videos
					li
						a 
							i.glyphicon.glyphicon-user
							span Users
					li
						a 
							i.glyphicon.glyphicon-tasks
							span Radios
			.menu.me
				ul
					li
						a 
							i.glyphicon.glyphicon-book
							span Library
					li
						a 
							i.glyphicon.glyphicon-upload
							span Upload

		main
			block sidebar
			block songlist
			include player

		script.
			$('video,audio').mediaelementplayer({
				success: function (me) {
					me.addEventListener('loadedmetadata', function () {
						alertify.dismissAll();
					});
					me.addEventListener('ended', function () {
						$.ongaku.next();
					});
				}
			});
			$(function () {
				$('.scroll-pane').jScrollPane();
				
				$('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Collapse this branch');
				$('.tree li.parent_li > span').on('click', function (e) {
					var menu = $(this).parent('li.parent_li').find(' > ul');
					var children = $(this).parent('li.parent_li').find(' > ul > li');
					children.toggle("fast");
					e.stopPropagation();
				});
				$.ongaku.controls.bind();
				
				$(".pending-list .list").bind("mousewheel", function(event, delta) {
					this.scrollLeft -= (delta * 30);
					event.preventDefault();
				});
			});


		block scripts