extends app
block append headpage
	title Ongaku authentication
block append library
		.col-md-8.panel.panel-default.col-md-offset-1.login-screen
			h1 Be connected:
			hr
			form.form-horizontal(method='post')
				.form-group
					label.col-sm-2.control-label(for="username") Username
					.col-sm-10
						input.form-control(type="text", id="username", name="username", placeholder="Nom d'utilisateur")
				.form-group
					label.col-sm-2.control-label(for="password") Password
					.col-sm-10
						input.form-control(type="password", id="password", name="password", placeholder="Mot de passe")
				.form-group
					.col-sm-offset-2.col-sm-10
						.checkbox
							label
								input(type="checkbox", name="remember")
								span Remember me
				button.btn.btn-success.btn-lg.pull-right(id="login", style="margin-bottom: 15px;") Connect
				a#reset-link(href="/reset")
block append scripts
	script.
		$(function() {
			var sPageURL = decodeURIComponent(window.location.search.substring(1)),
				sURLVariables = sPageURL.split('&'),
				sParameterName,
				code,
				i;
				$("#username").focus();
			for (i = 0; i < sURLVariables.length; i++) {
			  sParameterName = sURLVariables[i].split('=');
			  if (sParameterName[0] === "error") {
			  	code = sParameterName[1] === undefined ? true : sParameterName[1];
					console.log(code);
					if (code === '407'){
						alertify.error("Page need an authentication.");
					} else if (code === '401'){
						alertify.error("Invalid username / password combinaison.");
					} else if (code === '417'){
						alertify.error("Account is locked due to too many attempts login.");
					}
			  }
			}
		});
