block player
	if !meta.requireAuthentication || (meta.requireAuthentication && !session.user.isAnonymous) 
		.player
			audio#controls(controls="controls", width="100%")
				if (data.playing)
					source#mp3src(type="audio/#{data.playing.encoding}", src="/stream/#{data.playing.uid}")
	else
		.player.empty
			span Login is required to stream
		if (data.playing)
			script.
				$(function(){
					$.ongaku.setCurrent("#{data.playing.uid}");
				});
