extends app
block append headpage
    title Ongaku music
block append library
    include library
block append songlist
    section.song-list
        include playlist
block append scripts
  script.
    $(function(){
      $.ongaku.library.bind();
      $.ongaku.library.fetch();
      $.ongaku.playlist.fetch();
    });
  if !session.user.isAnonymous
    script.
      $(function(){
        $.get("/api/user/playlists", function(output){
          $.each(output, function(index, playlist){
            var playlistBlock = $("<a>");
            playlistBlock.text(playlist);
            $(".playlists-elements").append(playlistBlock);
          });
        });

        $("#save-current-playlist").click(function(){
          console.log("save");
          $.post("/api/user/playlist/save", function(){
              $("#save-current-playlist").prop('disabled', true);
          });
        });
      });
