section.sidebar.show
  .search
    .title(style="color: #F8F8F8; font-size: 1.5em; margin-bottom:5px; margin-top:8px;")= i18n.featured_tracks
    if (data.message !== null)
      h1.message
          i.fa.fa-circle-o-notch.fa-spin
          span.text= data.message
      .user-sidebar.library-view
        .library
          ul.lib.group.artist.open
  .user-sidebar.library-view
    .library.featured
      ul.mostplays.tracklist.plays
        .tools
          if !session.user.isAnonymous && session.user.administrator
            a(href="/api/clear/statistics/plays")
              i.fa.fa-sync
        h1= i18n.most_played_tracks
      ul.mostplays.tracklist.plays-genre
        .tools
          if !session.user.isAnonymous && session.user.administrator
            a(href="/api/clear/statistics/plays-genre")
              i.fa.fa-sync
        h1= i18n.most_played_genre
script.
  function initView(){
    $.get("/api/featured", function (data) {
      $.each(data.stats, function(key, values){
        var plays = $("<div>").addClass('statistic-group');
        $("ul.mostplays." + key).append(plays);
        plays.append(new FeaturedTracksList(values));
      });      
    });
  }
