block append library
  include ../library/library.pug
script.
  function initView(){
    $.ongaku.library.reset();
    $.ongaku.library.clear();
    $.ongaku.library.setPage(0);
    $.ongaku.library.bind("user/#{session.user.username}");
    $.ongaku.library.fetch();
  };
