section.sidebar.show
    .search(style="height:59px") 
        .col-lg-8.col-md-8
            .input-group
                h1 Upload files
    .user-sidebar.library-view
        .upload
            .input-group
                input(name="import", type="file")
            .progress
                .progress-bar(role="progressbar", aria-valuenow="0", aria-valuemin="0", aria-valuemax="100", style="width: 0%;")
        
        .panel(style="margin: 5px;")
            h2 Uploaded files:
            ul.imported-files.list-group(style="width: 80%; margin: auto; margin-top: 10px;")
                if files
                    for file in files
                        li.file.list-group-item.imported-file
                            if file.indexOf('.jpg')!==-1 || file.indexOf('.JPG')!==-1 || file.indexOf('.PNG')!==-1 file.indexOf('.png')!==-1 || file.indexOf('.gif')!==-1 || file.indexOf('.GIF')!==-1
                                img(src="/upload/imported/#{file}", style="height: 30px;")
                            else
                                i.fa.fa-file-o
                            a.imported-filename(href="/upload/imported/#{file}")=file
                            a.delete.imported-filename(href="/upload/imported/#{file}/delete")
                                i.fa.fa-remove


script.
  function initView(){
    $('input[name=import]').customFile("Upload file");
    
    $("input[name=import]").liteUploader({
      script: "/upload/file"
    })
    .on("lu:progress", function (e, percentage) {
        $(".progress-bar").css({
            "width" : percentage + "%"
        });
        $(".progress-bar").text("Uploading: " + percentage + "%");
    })
    .on("lu:success", function (e, response) {
        $(".progress-bar").text("Uploaded: refreshing import list");
        setTimeout(function(){
            window.location.reload();
        }, 1000);
    });
  }