extends ../layouts/app
block append headpage
	title Ongaku administration panel
block append library
	include ../api/admin/index

block append songlist
	section.song-list
		include ../layouts/playlist

	block append script
		script.
			$(function(){
				/* bind widgets */
				$('.toggle-icon').on('click', function () {
					$(this).children('input').val(!$(this).hasClass('on'));
					if ($(this).hasClass('on')) {
						return $(this).removeClass('on');
					} else {
						return $(this).addClass('on');
					}
				});
				
				$.each($("input[type='checkbox']"), function(index, val){
					if ($(val).val() === "true"){
						$(this).parents(".toggle-icon.icon").addClass('on');
					}
				});
				
				$("input[name='port']").TouchSpin({
					min: 1,
					max: 100000,
					step: 1,
					verticalbuttons: true
				});
				
				$("form button.btn-success").on("click", function (){
					var preferences = {},
						$form = $(this).parents("form"),
						formId = $($form).attr("id");
					
					$.each($($form).find("input"), function (index, val){
						preferences[$(val).attr("name")] = $(val).val();
					});
					
					$.post("/api/admin/".concat(formId), preferences);
				});
			});
