extends ../layouts/app
block append headpage
	title Ongaku administration panel
block append library
	include ../api/admin/index

block append songlist
	section.song-list
		include ../layouts/playlist
