extends ../app
block append headpage
	title Ongaku administration panel
block append library
	section.global-administration
		ul.tabs
			li
				input#tab1(type="radio", name="tabs", checked)
				label.tab(for="tab1") Application
				div#tab-content1.tab-content
					form.form-horizontal
						.form-group
							label.col-md-2.control-label Port number
							.col-md-6
								input.form-control(name="portnumber")
						.form-group.form-group-sm
							label.col-md-2.control-label Allow user register
							.col-md-6
								.toggle-icon.icon.red
									.handle
										.glyphicon.glyphicon-user
						.form-group.form-group-sm
							label.col-md-2.control-label Require authentication to stream
							.col-md-6
								.toggle-icon.icon.red
									.handle
										.glyphicon.glyphicon-headphones
						.form-group.form-group-sm
							label.col-md-2.control-label Allow user upload
							.col-md-6
								.toggle-icon.icon.green
									.handle
										.glyphicon.glyphicon-cloud-upload
						.form-group.form-group-sm
							label.col-md-2.control-label User library is public
							.col-md-6
								.toggle-icon.icon.green
									.handle
										.glyphicon.glyphicon-globe
						.form-group.form-group-sm
							label.col-md-2.control-label User download
							.col-md-6
								.toggle-icon.icon.green
									.handle
										.glyphicon.glyphicon-cloud-download
						.form-group.form-group-sm
							label.col-md-2.control-label Streaming buffer size
							.col-md-6
								input.form-control
						.form-group.form-group-sm
							label.col-md-2.control-label Allowed formats
							.col-md-6
								input.form-control

			li
				input#tab2(type="radio", name="tabs")
				label.tab(for="tab2") Users
				div#tab-content2.tab-content
					span Users management (Not yet configurable).

block append songlist

	block append script
		script.
			$(function(){
				/* bind widgets */
				$('.toggle-icon').on('click', function () {
					if ($(this).hasClass('on')) {
					return $(this).removeClass('on');
					} else {
					return $(this).addClass('on');
					}
				});

				$("input[name='portnumber']").TouchSpin({
					min: 1,
					max: 100000,
					step: 1,
					verticalbuttons: true
				});
			});
