html
    head
        link(rel="stylesheet", type="text/css", href="/dependencies/font-awesome-4.2.0/css/font-awesome.min.css")
        link(rel="stylesheet", type="text/css", href="/dependencies/bootstrap-3.3.6-dist/css/bootstrap.min.css")
        link(rel="stylesheet", type="text/css", href="/dependencies/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css")
        link(rel="stylesheet", type="text/css", href="/dependencies/alertifyjs-0.10.2/css/alertify.min.css")
        link(rel="stylesheet", type="text/css", href="/dependencies/alertifyjs-0.10.2/css/themes/default.min.css")

        link(rel="stylesheet", type="text/css", href="/lib/main.css")

        script(src="/dependencies/jquery/jquery-2.1.1.min.js")
        script(src="/dependencies/bootstrap-3.3.6-dist/js/bootstrap.js")
        script(src="/dependencies/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js")
        script(src="/dependencies/alertifyjs-0.10.2/alertify.min.js")
        script(src="/dependencies/socket.io/socket.io.js")
        script(src="/dependencies/jquery.liteuploader.min.js")

        title Ongaku installation
    body.installer
        .install-panel
            #header.navbar.navbar-default.navbar-fixed-top.header
                h1(style="float:left;margin:0px;")
                    a.header-link(href="/")
                      include ../layouts/logo
                span.mini-title(style="float:left", data-toggle="popover", data-trigger="hover", data-placement="bottom", data-content="The open-source media streaming application") v0.0.1-beta
                div.navbar-header
                    nav.navbar-collapse.collapse.navbar-ex1-collapse(style="float:left; width: auto;")
                        ul.nav.navbar.varbar-nav.pull-left
                            li
                                a installer
                            li
                                a Help
            form
                h1 Welcome to the web installer.
                .group
                    h2 Step 1: Redis database.
                    .form-group
                        label host
                        input.form-control(type="text", placeholder="host")
                    .form-group
                        label port
                        input.form-control(type="text", placeholder="port")
                    .form-group
                        label database
                        input.form-control(type="text", placeholder="database")
                    .form-group
                        label password
                        input.form-control(type="password", placeholder="Password")
                .group
                    h2 Step 2: Create administrator account.
                    .form-group
                        label username
                        input.form-control(type="text", placeholder="Username")
                    .form-group
                        label password
                        input.form-control(type="password", placeholder="Password")
                .group
                    h2 Step 3: setup library.
                    .form-group
                        label library directories
                        input.form-control(type="text", placeholder="Directories (commas separated)")