extends ../layouts/app
block append headpage
  title Ongaku user
block append library
  .panel.panel-default(style="margin: 5px; text-align: center;")
    h1 All users
  each user in users  
    .panel.panel-default(style="width: 130px; margin: 5px;")
      div.separated
        i.fa.fa-circle.status.online
        a.small-title(style="margin-left:10px;", href="/user/#{user.username}/info") #{user.username}
      div.separated
        each group in user.groups
          div #{group}
