extends layout.pug

block append userpage-content
    form#general.form-horizontal(method='post')
        .form-group
            label.col-md-2.control-label= i18n.language
            .col-md-4
                select.form-control(name="lang")
                    for language in languages
                        option(value=language)= i18n.i18n_languages[language]
        .form-group
            label.col-md-2.control-label access key
            .col-md-4
                input(type='text', name='access_id', value=key)
        .form-group
            .col-md-4(style='text-align: center')
                button.btn.btn-success.btn-lg(id="login", type="submit", style='width: 100%')= i18n.save
