extends layout

block append userpage-content
  form#general.form-horizontal(method='post')
    .form-group
      label.col-md-2.control-label Language
      .col-md-6
        select.form-control(name="lang")
          for language in languages
            option(value="#{language}")= i18n_languages[language]
    button.btn.btn-success.btn-lg.pull-right(id="login", style="margin-bottom: 15px;", type="submit") ok
