extends ../layouts/app
block append headpage
    title Ongaku music
block append library
    include ../library/library
block append songlist
    section.song-list
        include ../layouts/playlist
