block player
	.player
		.pending-list
			.list
				for track in data.playlist
					.song
						.info
							.song-title= track.title
							.song-artist= track.artist
							.song-infos= track.duration
						.play
							.button Play
						.layer
							.top
							.left
							.right
							.bottom

		audio(controls="controls", width="100%")
			source(type="audio/mp3", src="/stream/#{data.playing.uid}")