section.sidebar.show
	.user-sidebar
		h1 Library
		.search
			.row
				.col-lg-8
					.input-group
						span.input-group-addon
							i.glyphicon.glyphicon-search
						input.form-control(type="text", placeholder="Search")
				.col-lg-4 
					label Group by
					select
						option Songs
						option Artists
						option Albums
						option Genre
		.library
			.tree
				ul
					for artistsGroup in library
						li
							span
								i.glyphicon.glyphicon-folder-open
								= artistsGroup.artist
							ul
								for album in artistsGroup.albums
									li(style="display: none")
										span= album.title
										ul
											for track in album.tracks
												li(style="display: none")
													span.track(data-uid="#{track.uid}")= track.title
block scripts
	script.
		$(function(){
			$('.track').on("dblclick", function(){
				var uidFile = $(this).data("uid");
				$.post("/playlist/add/".concat(uidFile), function(playlist){
					$("ul.playlist").empty();
					var tracknumber = 0;
					$.each(playlist, function(index, val){
						tracknumber += 1;
						var track = "\
							<li>\
								<a class='song'>\
									<div class='track-info track-px'>\
										<div class='track-info track-num'>\
											{{num}}\
										</div>\
										<div class='track-info track-time'>\
											{{time}}\
										</div>\
									</div>\
									<div class='track-info track'>\
										<div class='track-info track-title'>\
											{{title}}\
										</div>\
										<div class='track-info track-artist'>\
											{{artist}}\
										</div>\
									</div>\
								</a>\
							</li>";
						track = track.replace("{{num}}", tracknumber);
						track = track.replace("{{time}}", val.duration);
						track = track.replace("{{title}}", val.title);
						track = track.replace("{{artist}}", val.artist);
						
						var track = $("ul.playlist").append(track);
					});
				});
			});
		});
