section.sidebar.show
	.user-sidebar
		h1 Library
		.search
			.row
				.col-lg-8
					.input-group
						span.input-group-addon
							i.glyphicon.glyphicon-search
						input.form-control(type="text", placeholder="Search")
				.col-lg-4 
					label Group by
					select
						option Songs
						option Artists
						option Albums
						option Genre
		.library
			.tree
				ul
					for artistsGroup in library
						li
							span
								i.glyphicon.glyphicon-folder-open
								= artistsGroup.artist
							ul
								for album in artistsGroup.albums
									li(style="display: none")
										span= album.title
										ul
											for track in album.tracks
												li(style="display: none")
													span= track.title
