section.sidebar.show
	.user-sidebar
		h1 Library
		.search
			.row
				.col-lg-8
					.input-group
						span.input-group-addon
							i.glyphicon.glyphicon-search
						input.form-control(type="text", placeholder="Search")
				.col-lg-4 
					label Group by
					select
						option Songs
						option Artists
						option Albums
						option Genre
		ul.navlist-menu
			li Title 1
			li Title 2
			li Title 3
			li Title 4
			li Title 5
			li Title 6
			li Title 7
			li Title 8