div.modal.fade#changePassword(tabindex="-1", role="dialog")
  form#changePassword.form-horizontal(method='post', action="change-password")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          button(type="button", class="close", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
          h4.modal-title#myModalLabel Modal title
        .modal-body
          .form-group
            label.col-md-2.control-label Password
            .col-md-4
              input(name="password")
          .form-group
            label.col-md-2.control-label Password confirm
            .col-md-4
              input(type="text", name="password-confirm")
        .modal-footer
          button.btn.btn-primary(type="submit") Save changes
          button.btn.btn-default(type="button", data-dismiss="modal") Close
