extends layout.pug
block append userpage-content
  .user-panel
    .panel.panel-default
      div.separated
        div.small-title Groups
        hr
        each group in user.groups
          div #{group}
  .user-panel
    .panel.panel-default
      div.small-title Playlists
      hr
      .playlists-elements
      div.small-title Personal library
      hr
      .library.featured
